<%= simple_form_for @patrimonio, html: {novalidate: true} do |f| %>

  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <h3 class="text-color-orange">Información de contacto</h3>

    <div class="help-block">
      <em class="fas fa-exclamation-circle"></em>
    Debido a los problemas de pandemia, recomendamos que indiques tu teléfono y correo para que las personas
      que desean visitar tu negocio, puedan coordinar previamente su visita.
    </div>

    <hr>
    <%= f.input :telefono,
                required: true,
                pattern: "56[0-9][0-9]{8}",
                value: @user.try(:telefono),
                title: "EL formato para teléfono es: 569 9999 9999 sin espacios en blanco"
    %>
    <%= f.input :email,
                value: @user.try(:email),
                required: true
    %>
    <br/>
    <h3 class="text-color-orange">Información de Patrimonio</h3>
    <div class="help-block">
      <em class="fas fa-exclamation-circle"></em>
      La información de patrimonio, permite describir y ubicar en el mapa de referencia su patrimonio.
    </div>

    <hr>
    <%= f.input :titulo, required: true %>

    <%= f.input :ubicacion, id: 'patrimonio_ubicacion', required:true, class:"form-control", type: "search" %>


    <div class="help-block">
      <em class="fas fa-exclamation-circle"></em>
      Ingrese su dirección con el formato: calle número, comuna, provincia, Chile
    </div>

    <br/>

    <label string required for=descripcion> Descripción <abbr title="required">*</abbr></label>
    <%= f.text_area(:descripcion,
                    required: true,
                    rows: 6,
                    class: " form-control textarea ")
    %>

    <br/>
    <label string required for="patrimonio_tipo_id">Tipo de patrimonio <abbr title="required">*</abbr></label>

      <%= collection_radio_buttons(:patrimonio, :patrimonio_tipo_id, PatrimonioTipo.all, :id, :nombre) do |b| %>
        <div class="radio ">
          <%= b.label do %>
            <%= b.radio_button + '          ' + b.text %>
          <% end %>
        </div>
      <%end %>

<br/>

    <%= f.input :photos, as: :file,
                input_html: { multiple: true },
        label: 'Cargar imágen portada'
    %>
<br/>
<br/>

  </div>

  <div class=" ">
    <%= f.button  :submit, "Guardar", class: "btn btn-primary button_rounded", data: { disable_with: false } %> &nbsp; &nbsp; <%= back_list_admin('', patrimonios_path, ' ') %>
  </div>

<% end %>
