<div class="container">
  <div class="row">
    <h1>Patrimonios</h1>
    <table class="table">

      <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Reseña</th>
      </tr>
      </thead>
      <tbody>
    <% @patrimonios.each do |patrimonio| %>
      <tr>
        <td><%= patrimonio.titulo %></td>
        <td><%= patrimonio.resena %></td>

        <% if can_do?(patrimonio, :show?) %>
          <td><%= link_to 'Show', patrimonio %></td>
        <% end %>

        <% if can_do?(patrimonio, :edit?) %>
          <td><%= link_to 'Edit', edit_patrimonio_path(patrimonio) %></td>
        <% end %>

        <% if can_do?(patrimonio, :destroy?) %>
          <td><%= link_to 'Destroy', patrimonio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
    </tbody>

    </table>

  </div>
</div>



<br>

<% if policy(Patrimonio).create? %>
  <%= link_to "New patrimonio", new_patrimonio_path %>
<% end %>

