<%= container_begin %>
<div class="row">
  <div class="col">
    <%= image_tag "logo_footer.png", class: " titulo"  %>
  </div>
</div>

<%= raw_row_col_begin %>
<p class="text-black-50">En esta vista usted puede ingresar Patrimonios culturales que hacen de su región un lugar
  único.
  Para ingresar un nuevo patrimonio, puedes hacer clic de mouse sobre el botón <i>Nuevo patrimonio</i></p>
<%= raw_row_col_end %>
<%= raw_row_col_begin %>

<% button_new = can_do_show(Patrimonio, :create?, (link_to "Nuevo patrimonio", new_patrimonio_path, class: "btn btn-primary button_rounded")) %>

<br/><br/>
<div class="text-right"><%= button_new %></div>
<table class="table card-body" summary="Detalle de Patrimonios registrados">

  <thead>
  <tr>
    <th scope="col">Título</th>
    <th scope="col">Reseña</th>
  </tr>
  </thead>
  <tbody>
  <% @patrimonios.each do |patrimonio| %>
    <tr>
      <td class="col text-capitalize"><%= patrimonio.titulo %></td>
      <td class="col text-capitalize text-truncate"><%= patrimonio.titulo %></td>

      <td class="col width10px">
        <% if policy(patrimonio).show? %>
          <%= link_to patrimonio, class: "btn " do %>
            <i class="fas fa-eye"></i>
          <% end %>
        <% end %>
      </td>

      <td class="col width10px">
        <% if policy(patrimonio).edit? %>
          <%= link_to edit_patrimonio_path(patrimonio), class: "btn " do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
        <% end %>
      </td>

      <td class="col width10px">
        <% if policy(patrimonio).destroy? %>
          <%= link_to patrimonio, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash-restore-alt"></i>
          <% end %>
        <% end %>
      </td>


    </tr>
  <% end %>
  </tbody>

</table>

<div class="text-left"><%= button_new %></div>

<%= raw_row_col_end %>
<%= container_end %>
