<%= container_begin %>
  <%= header_page('fas fa-mountain', 'Patrimonio nuevo') %>
  <%= small_text("Por favor, ingrese toda la información solicitada.") %>
  <br/><br/>
  <div class="row">
    <div class="col">

      <%= render 'form', patrimonio: @patrimonio %>

    </div>
  </div>


<%= container_end %>