<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patrimonio.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @patrimonio.user_id %>
</p>

<%= link_to 'Edit', edit_patrimonio_path(@patrimonio) %> |
<%= link_to 'Back', patrimonios_path %>
