<div class="container">
  <div class="row">
    <div class="col-4 patrimonial_card">
      <br>
      <h3 class="text-center">Actualización de perfil</h3>


      <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :photo, as: :file,
              label: 'Fotografía',
              autofocus: true
          %>
          <%= f.input :nombre,
                      label: 'Nombre',
                      required: true,

                      input_html: { autocomplete: 'name', placeholder: 'nombre' } %>
          <%= f.input :apellidos,
                      label: 'Apellido',
                      required: true,
                      input_html: { autocomplete: 'apellidos', placeholder: 'apellido' } %>
          <%= f.input :email,
                      label: 'Correo electrónico',
                      required: true,
                      input_html: { autocomplete: 'email', placeholder: 'correo electrónico' } %>
          <%= f.input :password,
                      label: 'Contraseña',
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: 'Confirme su contraseña',
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Actualizar", class: "btn btn-primary button_rounded" %>
        </div>
        <br>

      <% end %>

    </div>

  </div>
</div>