<%= container_begin %>
<%= header_page('fas fa-user', 'Actualización de perfil') %>
<%= raw_row_col_begin %>


      <%= simple_form_for(@user, html: {novalidate: true}) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <table class=" table table-bordered border-primary">
            <tr>
              <td class="text-center"><%= user_show_avatar('avatar-large') %></td>
              <td><%= f.input :photo, as: :file,
                              label: 'Cambiar fotografía',
                              autofocus: true
              %><br/><br/></td>
            </tr>
          </table>


          <%= f.input :nombre,
                      label: 'Nombre',
                      required: true,

                      input_html: { autocomplete: 'name', placeholder: 'nombre' } %>
          <%= f.input :apellidos,
                      label: 'Apellido',
                      required: true,
                      input_html: { autocomplete: 'apellidos', placeholder: 'apellido' } %>
          <%= f.input :email,
                      label: 'Correo electrónico',
                      required: true,
                      input_html: { autocomplete: 'email', placeholder: 'correo electrónico' } %>

          <div class="text-left">
            <%= f.button :submit, "Actualizar", class: "btn btn-primary button_rounded", data: { disable_with: false } %>
            &nbsp;
            <%= can_do_show(@user, :show?, (link_to 'Cancelar', user_path, class: "btn button_orange")) %>
          </div>

        </div>


        <br>

      <% end %>


<%= raw_row_col_end %>
<%= container_end %>