<div class="container">
  <div class="row">
    <div class="col-4">
      <br>
      <h1>A dónde vas<br>a viajar?</h1><br>
      <p class="text-justify"> Chile al alcance de todos. <br>
        Conoce el capital cultural de la mano de sus personajes y de impresionantes paisajes.</p>
      <br>
      <p><strong>Ven a conocernos</strong></p>
      <br>

      <%= form_for :search, method: :post, url: resultado_path do |form| %>
        <%= form.label :value, 'Buscar patrimonios por localidad' %><br/>
        <%= form.text_field :value, placeholder: @ciudad %>

        <%= form.submit 'Buscar', class: "btn btn-primary button_rounded" %>
      <% end %>

    </div>

    <div class="col">
      
      <div id="map"
           class="mapStyle"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>


  </div>

</div>
