<br>
<div class="container">
  <div class="row">
    <div class="col-6 patrimonial_card">
      <br>
      <br>
          <h3 class="text-center">Inicio de sesi칩n</h3>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        label: 'Correo electr칩nico',
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: 'email', placeholder: 'correo electr칩nico'  } %>

            <%= f.input :password,
                        label: 'Contrase침a',
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me,
                        label: 'Recordarme',
                        as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions text-center">
            &nbsp; &nbsp; &nbsp; <%= f.button :submit, "  Inicio  ", class: "btn btn-primary btn" %>


          </div>
        <% end %>

          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>

    </div>
    <div class="col-5">
      <br>
      <br>
      seleccionar una imagen randomicamente
    </div>
  </div>
</div>


