
<br>
<div class="container">
  <div class="row">
    <div class="col-6 card">
      <h2 >Inicio de sesi칩n</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        label: 'Correo electr칩nico',
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: 'email', placeholder: 'correo electr칩nico'  } %>

            <%= f.input :password,
                        label: 'Contrase침a',
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me,
                        label: 'Recordarme',
                        as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Inicio", class: "btn btn-primary" %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
    </div>
    <div class="col-6">
      <br>
      <br>
      seleccionar una imagen randomicamente
    </div>
  </div>
</div>


