<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <ul class="nav  justify-content-begin">
    <%= link_to "Terminos de uso", '/terminos-de-uso', class: "nav-link px-2 text-muted" %>
    <%= link_to "Política de privacidad", '/politica-de-privacidad', class: "nav-link px-2 text-muted" %>
    <%= link_to "Contacto", '/contacto', class: "nav-link px-2 text-muted" %>
    <%= link_to "Suscríbete", new_user_session_path, class: "nav-link px-2 text-muted" %>
    <%= link_to "Todos los derechos reservados", '#', class: "nav-link px-2 text-muted" %>

  </ul>
  <p class="nav-link px-2 text-muted navbar-brand">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo_footer.png", class: "logo" %>

    <% end %>
  </p>
</footer>
