<html>
<head>
 <style>
      .col-6 {
        height: 614px;
        width: 450px;
        left: 0px;
        top: 0px;
        bottom: 0px;
        border-radius: 46px;
        background: #F1F1F1
      }

      .form-inputs {
        width: 450px;
        border-radius: nullpx;
        align-items: center;
        align-self: center;
        align-content: center;
        margin: 5px 40px
      }

      .form-actions {
        height: 73px;
        align-items: center;
        margin: 5px 200px;
        display: flex;
        text-align: center
      }
    </style>
</head>
<body>
<br>
  <div class="container">
    <div class="row">
      <div class="col-6 card">
        <br>
        <head>
          <h3 >Registro de usuario</h3>
          <style>
            h3 {
              text-align: center;
            }
          </style>
        </head>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre,
                label: 'Nombre',
                required: true,
                autofocus: true,
                input_html: { autocomplete: 'name', placeholder: 'nombre'  } %>
    <%= f.input :apellidos,
                label: 'Apellido',
                required: true,
                autofocus: true,
                input_html: { autocomplete: 'apellidos', placeholder: 'apellido'  } %>
    <%= f.input :email,
                label: 'Correo electr칩nico',
                required: true,
                autofocus: true,
                input_html: { autocomplete: 'email', placeholder: 'correo electr칩nico'  } %>
    <%= f.input :password,
                label: 'Contrase침a',
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: 'Confirme su contrase침a',
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrarse", class:"btn btn-primary" %>
  </div>
  <br>

<% end %>

</div>
<body>
<html>

