<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 patrimonial_card">
      <br>
      <h2 class="text-center">Olvidó su contraseña</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      class: "col"
          %>
          <div class="text-left">
            <%= f.button :submit, "Envíeme las instrucciones para obtener una nueva contraseña", class: "btn btn-primary button_rounded" %>
          </div>

          <br/><br/>
          <%= render "devise/shared/links" %>
          <br/>

        </div>


      <% end %>

    </div>
  </div>
</div>